-- Sample Data for Reamp Platform Demo
-- This script creates sample listings with placeholder data for demonstration

-- Note: This assumes you already have:
-- 1. A registered Agency with an Agent user
-- 2. A registered Studio with Staff
-- Replace the IDs below with actual IDs from your database

-- ============================================
-- SAMPLE LISTINGS DATA
-- ============================================

DECLARE @AgencyId1 UNIQUEIDENTIFIER = (SELECT TOP 1 Id FROM Agencies ORDER BY CreatedAtUtc);
DECLARE @AgentUserId1 UNIQUEIDENTIFIER = (SELECT TOP 1 UserProfileId FROM Agents WHERE AgencyId = @AgencyId1);

IF @AgencyId1 IS NOT NULL AND @AgentUserId1 IS NOT NULL
BEGIN
    -- Sample Listing 1: Luxury Villa
    INSERT INTO Listings (
        Id, OwnerAgencyId, AgentUserId, Title, Description,
        Price, Currency, Status, ListingType, PropertyType,
        Bedrooms, Bathrooms, ParkingSpaces, FloorAreaSqm, LandAreaSqm,
        Address_Line1, Address_Line2, Address_City, Address_State, Address_Postcode, Address_Country,
        CreatedAtUtc, UpdatedAtUtc
    ) VALUES (
        NEWID(), @AgencyId1, @AgentUserId1,
        'Modern Luxury Villa with Ocean View',
        'Stunning modern villa featuring breathtaking ocean views, open-plan living spaces, and high-end finishes throughout. This exquisite property offers 5 spacious bedrooms, each with en-suite bathrooms, a gourmet kitchen with premium appliances, and expansive outdoor terraces perfect for entertaining. The infinity pool seamlessly blends with the horizon, creating a resort-like atmosphere. Located in an exclusive gated community with 24/7 security.',
        2500000, 'USD', 1, 1, 3,
        5, 5, 3, 450.0, 800.0,
        '123 Ocean Drive', 'Beachfront Estate', 'Miami', 'Florida', '33139', 'US',
        GETUTCDATE(), GETUTCDATE()
    );
    
    -- Sample Listing 2: Downtown Luxury Apartment
    
    -- Sample Listing 3: Charming Family Townhouse
    
    -- Sample Listing 4: Spacious 2BR Apartment for Rent
    
    -- Sample Listing 5: Cozy Suburban House
    
    -- Sample Listing 6: Modern Studio Loft
    
    -- Sample Listing 7: Waterfront Estate
    
    -- Sample Listing 8: Renovated Victorian Townhouse

    PRINT 'Sample listings created successfully!';
END
ELSE
BEGIN
    PRINT 'Please create an Agency and Agent first before running this script.';
END
