version: '3.8'

services:
  sqlserver:
    environment:
      MSSQL_SA_PASSWORD: "${SQL_SERVER_PASSWORD}"
    volumes:
      - sqlserver_data:/var/opt/mssql
      - ../backups:/var/opt/mssql/backups

  api:
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ConnectionStrings__SqlServerConnection: "Server=sqlserver,1433;Database=ReampDb;User Id=sa;Password=${SQL_SERVER_PASSWORD};TrustServerCertificate=True;MultipleActiveResultSets=true"
      JwtSettings__Secret: "${JWT_SECRET}"
      JwtSettings__Issuer: "${JWT_ISSUER}"
      JwtSettings__Audience: "${JWT_AUDIENCE}"
      Cloudinary__CloudName: "${CLOUDINARY_CLOUD_NAME}"
      Cloudinary__ApiKey: "${CLOUDINARY_API_KEY}"
      Cloudinary__ApiSecret: "${CLOUDINARY_API_SECRET}"
      Cors__AllowedOrigins__0: "${FRONTEND_URL}"
    restart: always

